doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Zendin

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href='index.html') Home
                        li.nav-item
                            a.nav-link(href='about.html') About
                        li.nav-item
                            a.nav-link(href='deliverables.html') Deliverables
                        li.nav-item 
                            a.nav-link(href='blog.html') Blog

        // Page Header
        header.masthead(style="background-image: url('assets/img/placeholder.png')")
            .overlay
            .container
                .row
                    .col-lg-8.col-md-10.mx-auto
                        .page-heading
                            h1 Weekly Blog

        // Post Content
        article
            .container
                .row
                    .col-lg-8.col-md-10.mx-auto
                        h2(id='blog1') Week 2 Blog: Hello VR-World
                        span.meta
                            | Posted by
                            a(href='#!') AR/VR Capstone Team 7
                            | on 8 April 2021
                        p
                            | In our first week, we got ourselves oriented with the tools we would be
                            | using through the WebXR tutorial and discovered possible interesting
                            | technologies we could use for our project in Glitch and Croquet through
                            | the class tutorials. We created a team discord and set about coming up
                            | with an idea for our project.
                        p
                            | We bounced around several before coming up with the idea of a virtual zen
                            | garden - with Zendin as our working title! The idea of having a customizable,
                            | relaxing open space in the virtual world was something that we all liked the
                            | idea of and we came up with plenty of possible extensions from this - meditation,
                            | gardening, yoga, and more! Virtual spaces can offer a new social outlet in an
                            | interesting medium, and the pandemic has shown how sometimes we all need to get
                            | away to our own space, which our virtual zen garden is an option we’re hoping to provide.
                hr

        hr
        // Footer
        footer
            .container
                .row
                    .col-lg-8.col-md-10.mx-auto
                        ul.list-inline.text-center
                            li.list-inline-item
                                a(href='https://github.com/UWRealityLab/xrcapstone21sp-team7')
                                    span.fa-stack.fa-lg
                                        i.fas.fa-circle.fa-stack-2x
                                        i.fab.fa-github.fa-stack-1x.fa-inverse
                        p.copyright.text-muted Copyright &copy; Zendin 2021

        // Bootstrap core JS
        script(src='https://code.jquery.com/jquery-3.5.1.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
