doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Zendin

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href='index.html') Home
                        li.nav-item
                            a.nav-link(href='about.html') About
                        li.nav-item
                            a.nav-link(href='deliverables.html') Deliverables
                        li.nav-item 
                            a.nav-link(href='blog.html') Blog

        // Page Header
        header.masthead(style="background-image: url('assets/img/placeholder.png')")
            .overlay
            .container
                .row
                    .col-lg-8.col-md-10.mx-auto
                        .page-heading
                            h1 Weekly Blog

        article
            .container
                .row
                    .col-lg-8.col-md-10.mx-auto
                        h2(id='blog3') Week 4 Blog: Groundwork for Meditation and Relaxation
                        span.meta
                            | Posted by
                            a(href='#!') AR/VR Capstone Team 7
                            | on 22 April 2021
                        p
                            | This week started off with a successfully completed PRD and continuing the development of our
                            | various ideas for the project. The base of the customization of the garden as well as the start
                            | of the meditation activity of this app had been set so this week we spent a lot of time cleaning
                            | up small bugs and diving deeper into the activities part of our project, where the user will be
                            | able to participate in various relaxing activities in their zen garden.

                        h3 Successes and accomplishments from this week
                        p
                            | Matthew was able to figure out how to add the rotation aspect when placing on object on the floor.
                            | Instead of the small preview that was there before, when the user wants to place an asset in their
                            | garden, they will have an accurate representation of how the asset would look like when placed. This
                            | includes the orientation of the object in relation to the zen garden. There were a few bugs with the
                            | rotation from the previously small preview of the asset to the rotation of the actual size asset but
                            | making the preview of the asset the actual size of the asset itself seemed to work well.
                            br
                            img(src='assets/img/rotation.gif' width='500px')
                            br
                            i Showcasing the rotation functionality when placing down assets.
                        p
                            | Matthew also continues to work on and manage the multiplayer component of this zen garden, continuing to 
                            | make sure that the different activities such as meditation are working on all views of the players. He has
                            | also been working on fixing up bugs from the open source code that we utilized.
                        p
                            | Jane continued to work on the meditation UI. She designed what "meditation mode" would look like, one of
                            | which was to have lanterns around the garden or close by that would light up, giving off a soft glow look
                            | which would light up as the sky dimmed, shifting the garden into "meditation mode". She started off by 3d modelling
                            | the "meditaion building", which for now is the big structure/room in the middle of the garden. She did not 
                            | have much luck on having that lantern glow effect, but Hristo was able to 3d model some awesome lanterns and lights 
                            | that would illuminate when the user enters meditation mode. Hristo also added the functionality of when the user
                            | teleports into the meditation room, "meditation mode" would be triggered and untriggered, so the user will enter
                            | "meditation mode" by teleporting into the room.
                            br
                            img(src='assets/img/meditation_demo.gif' width='500px')
                            br
                            i Showcasing how meditation mode is triggered.
                            br
                            img(src='assets/img/regular_mode.jpg' width='500px')
                            br
                            i The Meditation Building in the Zen Garden
                            br
                        p
                            | Jane is now working on finding more music appropriate for meditation and yoga in the future. She uses preview music from
                            | the Adobe stock library, to preview what kind of music would be part of this zen garden simulation. Jane has also been
                            | writing meditation scripts and narrating them. She is also working on some audio editing to combine the scripts with music.
                        p
                            | Hristo, along with working on the "meditation mode", continued to work on the locomotion and teleportation functionality of our project. 
                            | Last week for our demo, we had different bases where the user can teleport to and move around the garden. But now, the user is
                            | able to use the joystick on the right hand controller to navigate anywhere on the ground of the garden.
                            br
                            img(src='assets/img/teleportation.gif' width='500px')
                            br
                            i Showcasing how the user can now teleport anywhere in the garden.
                            br
                        p
                            | Hristo is now working on the Meditation UI, how the user can choose between different types of meditation scripts, (along with how
                            | this UI could also be used with yoga), and also what kind of UI the user will see in order to choose different background music and
                            | dimming the surroundings.
                            br
                            img(src='assets/img/menu.gif' width='500px')
                            br
                            i Showcasing what the menu of choosing which meditation mode/yoga/music the user wants.
                            br
                        p
                            | Phi started to work on the yoga component of our vr application. He set up a really cool layout of having a slideshow and timer that
                            | the user can follow along with different poses. He set up instructional slides, as well as slides and graphics that help the user
                            | to follow along with the yoga routine. He also added a timer to demonstrate how the user can see when they should go onto the next
                            | pose. But Phi also noticed that it may be difficult for the user to try and look at the slides while doing the pose, so maybe next steps
                            | in developing this would be to add a voice narration for the user to follow along, as well as the slides.
                            br
                            img(src='assets/img/yoga_1.png' width='500px')
                            br
                            img(src='assets/img/yoga_2.png' width='500px')
                            br
                            i Showcasing what the slideshow for the yoga tutorial would look like.
                            br
                        p
                            | Overall, we feel as though we made lots of great progress this week. As noted before, we are developing our codebase in Glitch and using 
                            | Github for version control. This is the link to our ongoing project development
                            a(href='https://glitch.com/edit/#!/team-7-glitch-workspace') here.
                            strong You can view the live prototype application
                            strong
                                a(href='https://team-7-glitch-workspace.glitch.me/xrcapstone21sp-team7/app/') here.
                        h3 Plan for Next Week
                        p
                            | We will finish wrapping up the main parts of the meditation portion of our application and also continue to fix minor details. But we will
                            | also start working on the aethetics and what the user sees as well.
                        ul
                            li Phi and Jane:
                                ul
                                    li Finish design of initial meditation tool with a working proof of concept
                                    li Find ambient forest sound
                                        ul
                                            li The user may select from waterfall noises, rain, morning birds, etc.
                                    li Ambient forest noise shall be present at all times playing beneath any other music
                                        ul 
                                            li Test overlaying multiple audio sources at once
                                    li Replace placeholder background with a moving sky image
                            li Hristo: Write blog
                            li Hristo and Matthew:
                                ul
                                    li Design home page one enters when loading the game along with options to join and existing garden or create a new garden.
                                        ul
                                            li When entering, a room id is displayed to the user.
                                            li The user may select the max number of people permitted in a garden during garden creation.
                                    li Start breath tracking as a standalone application not integrated into the meditation tool.
                                        ul
                                            li Identify when user exhales/inhales 
                                    li Improve lighting
                                        ul
                                            li Lighting is currently very gaudy and does not look good, adjust the A-Frame lighting so it looks more natural.

                        h3 Blocking Issues
                        p.
                            This past week has been going relatively smoothly. We may run into some blockers when working on user breath tracking, and lighting
                            in aframe has been a tricky ride. Also, we are out of disk space on glitch... so that is problematic. But it seems like we will be able
                            to switch and work from gitlab so we hope that will solve that problem. We still have a good vision and idea of what we should do for our tasks, however, so as of right now
                            we don't forsee any major blocking issues for the upcoming week.

        article
            .container
                .row
                    .col-lg-8.col-md-10.mx-auto
                        h2(id='blog2') Week 3 Blog: Planting Seeds for our Zen Garden Experience
                        span.meta
                            | Posted by
                            a(href='#!') AR/VR Capstone Team 7
                            | on 15 April 2021
                        p
                            | This was our first week where we started developing many of the ideas we have been sketching
                            | out. We also made some great progress on fleshing out our
                            a(href='deliverables.html#prd') product requirement document
                            | (PRD). We also completed out
                            a(href='deliverables.html#project-pitch') project pitch.
                            | We are excited to review the progress we made this week and get started with our tasks for
                            | next week.

                        h3 What every member did and Project Resources
                        p
                            | Collectively, we worked on the project presentation due April 13. We also split up
                            | responsibilities related to the PRD, then worked together to nail down the scope of the
                            | project and what we wanted to focus on each week. Particularly, after our presentation we
                            | realized that the meditation/yoga aspect was a more appealing feature than we previously realized
                            | so we tailored our PRD so that our garden customization is still present but simple so we can focus on interesting
                            | meditation tools.
                        p 
                            | Furthermore, we each started designing particular base components of our simulation that
                            | would be needed no matter what stretch goals we decided to focus on. In particular, Phi found
                            | some UI components that we could plug into our application and after deciding on a design Matthew
                            | ported the UI component from a
                            a(href='https://github.com/kfarr/aframe-city-builder/tree/f7f7c9c9ade67daa0c3d89c4aeb7f9021ad794d8') city builder game
                            | to work on the Oculus 2 with our plant assets. Similarly Phi got some basic
                            | asset placement and movement working with the UI. A simple way of undoing the last placed asset was added as well.
                            br
                            img(src='assets/img/palette.gif' width='500px')
                            br
                            i Showcasing initial prototype of the asset placement UI.
                        p
                            | Since we wanted some simple multiplayer interactions in our garden, Matthew set up Croquet integration
                            | with the project. This facilitates unique "rooms" that can be accessed by anyone by typing in a "room id".
                            | They can thus enter a room with others and view any modifications to the room and see the other players in the room 
                            | since assets are mirrored over using Croquet's view/model system.
                        p
                            | We also needed a simple way to navigate around the garden, so Hristo researched some teleportation based locomotion
                            | techniques and integrated a teleportation based system into our project with predefined checkpoints that the user
                            | may select to teleport to.
                            br
                            img(src='assets/img/teleport-base.gif' width='500px')
                            br
                            i Showcasing initial teleport prototype
                        p
                            | Jane focused first on getting music working in A-Frame using
                            a(href='') this music management component.
                            | Once that was complete, she started developing what the meditation UI should look like and what sort of
                            | information we are going to be recording and giving feedback about to the user.
                        p
                            | We also had some fun with blender to get some basic low-poly plants to interact with in our garden.
                            | Hristo, for example, made this nice looking cherry-blossom asset.
                            img(src='assets/img/cherry-blossom.png')
                        p
                            | All in all, good progress was made this week. We are developing our codebase in Glitch and using Github for version
                            | control, so you can see our ongoing project development
                            a(href='https://glitch.com/edit/#!/team-7-glitch-workspace') here.
                            strong You can view the prototype application
                            strong
                                a(href='https://team-7-glitch-workspace.glitch.me/xrcapstone21sp-team7/app/') here.

                        h3 Plan for Next Week
                        p.
                            Next week we plan on finishing up some of the bugs that we have yet to resolve in the UI and
                            start working on the meditation aspect of the project. In particular, we have assigned ourselves
                            the following:
                        ul
                            li Hristo and Jane:
                                ul
                                    li Finish basic locomotion
                                    li A more elegant asset shall be used to mark a teleportation site
                                    li Start work on meditation-specific UI, add in music selection and integrate locomotion into the UI
                                        ul
                                            li User may select from a number of soundtracks
                                            li The user can select from a menu which meditation technique to use, what music should play, if they would like to teleport, and music volume
                                            li The UI component shall be the same as that used in asset placement
                                            li Write script for initial meditation tutorial
                            li Phi and Matthew:
                                ul
                                    li Finish asset placement UI.
                                        ul
                                            li The y component of the left joystick shall allow the user to rotate the sample object in the user’s hand and when placed the object shall reflect this angle.
                                            li The bug in the asset placement UI that causes the right arrow to intermittently disappear shall be resolved
                                            li Add option for up/down arrows to menu UI to be used in meditation UI
                                    li Investigate meditation feedback mechanisms that may be used to monitor the user
                                        ul
                                            li Use phone to monitor heart rate
                                            li Test oculus quest speaker system, see if microphone can capture breathing
                                            li Explore possibility of webcam capture for capturing body positions

                        h3 Blocking Issues
                        p.
                            We believe we have a good grasp of what our initial product should look like, the
                            only thing left now is to continue to implement it! Right now there are a lot of tasks to do, all of which
                            are currently going smoothly so we don't forsee any major blocking issues the next week.

        // Post Content
        article
            .container
                .row
                    .col-lg-8.col-md-10.mx-auto
                        h2(id='blog1') Week 2 Blog: Hello VR-World
                        span.meta
                            | Posted by
                            a(href='#!') AR/VR Capstone Team 7
                            | on 8 April 2021
                        p.
                            In our first week, we got ourselves oriented with the tools we would be
                            using through the WebXR tutorial and discovered possible interesting
                            technologies we could use for our project in Glitch and Croquet through
                            the class tutorials. We created a team discord and set about coming up
                            with an idea for our project.
                        p.
                            We bounced around several before coming up with the idea of a virtual zen
                            garden - with Zendin as our working title! The idea of having a customizable,
                            relaxing open space in the virtual world was something that we all liked the
                            idea of and we came up with plenty of possible extensions from this - meditation,
                            gardening, yoga, and more! Virtual spaces can offer a new social outlet in an
                            interesting medium, and the pandemic has shown how sometimes we all need to get
                            away to our own space, which our virtual zen garden is an option we’re hoping to provide.

                        img(src='assets/img/garden.png')
                        br
                        i A serene image of a garden Jane found for our design ideas.

                        ul
                            li Hristo took the role of team lead for our first team meeting to pitch our product idea and helped write up our product pitch.
                            li Jane researched design ideas and 3D models for our project, and also helped write our product pitch.
                            li Matt designed and got our website up and running on Github Pages, and worked on 3D modeling.
                            li Phi set up the team discord and wrote this first blog post!

                        img(src='assets/img/trees.png')
                        br
                        i A sleek low-poly style proposed by Hristo.

                        br

                        img(src='assets/img/walls.png')
                        br
                        i A fitting boundary for a zen garden Matt modeled.

                        p.
                            We feel like we’ve made some great progress together already and we’re excited to get
                            started creating the basics of our virtual world together! For next week, we’ve scheduled
                            some meetings already to hash out the details of our product pitch presentation and our
                            project requirements document, so we have a solid base to build on while developing.
                hr

        hr
        // Footer
        footer
            .container
                .row
                    .col-lg-8.col-md-10.mx-auto
                        ul.list-inline.text-center
                            li.list-inline-item
                                a(href='https://github.com/UWRealityLab/xrcapstone21sp-team7')
                                    span.fa-stack.fa-lg
                                        i.fas.fa-circle.fa-stack-2x
                                        i.fab.fa-github.fa-stack-1x.fa-inverse
                        p.copyright.text-muted Copyright &copy; Zendin 2021

        // Bootstrap core JS
        script(src='https://code.jquery.com/jquery-3.5.1.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
